@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* ? font-family: "Poppins", sans-serif;
   ? font-family: "Urbanist", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s linear;
  scroll-behavior: smooth;
  /* border: 2px solid red;  */
}
:root {
  --main-heading--color: #004bc4;
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}
html {
  /* background-color: hsl(0, 0%, 93%); */
  font-size: 62.5%;
}
p,
a {
  font-family: "Urbanist", sans-serif;
  padding: 1rem 2rem;
  /* letter-spacing: .1rem; */
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 80vw;
  margin: 0 auto;
}

.scroll {
  width: 100vw;

  height: 0.5rem;
  /* background-color: var(--main-color); */
  background-image: linear-gradient(
    to right,
    var(--supporting-color),
    var(--main-color),
    var(--main-heading--color)
  );
  border-radius: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  animation: scroll-bar linear;
  animation-timeline: scroll();
}
@keyframes scroll-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/***** Navbar Section *****/

header {
  height: 12vh;
  padding: 2rem 3rem;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  --tw-bg-opacity: 0.8;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  border-width: 0.2px;
  border-radius: 1rem;
  border-style: solid;
  border-color: #e5e7eb;
  z-index: 4;
  /* box-shadow:0px 15px 10px -15px #bbb0b0;  */

  & .logo img {
    width: 21rem;
    height: auto;
  }

  & nav ul {
    display: flex;
    gap: 1.5rem;

    & li {
      list-style: none;

      & a {
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0 0.25rem;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--heading-color);
        letter-spacing: 1px;
        position: relative;

        &:hover {
          color: #114088;
        }
      }

      & a:hover::before {
        width: 100%;
      }
      & a::before {
        content: "";
        width: 0%;
        height: 0.2rem;
        /* background-image: linear-gradient(to right, pink, purple); */
        background-color: var(--main-color);
        position: absolute;
        left: 0;
        bottom: -0.4rem;
        border-radius: 1rem;
        transition: 0.3s linear;
      }
    }
  }
}

/***** End Navbar Section *****/

/***** Hero Section *****/
main {
  /* width: 98.5vw; */
  width: 100%;

  /* height: 85vh; */
  background-image: linear-gradient(
    to top right,
    var(--main-color),
    var(--supporting-color)
  );
  position: relative;

  & .hero {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2rem;
    padding-bottom: 9.6rem;
    /* perspective: 1000px; */

    & .hero-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem 0rem;
      align-items: flex-start;
      justify-content: center;
      & h1 {
        font-family: "Poppins", sans-serif;
        /* color:var(--main-heading--color); */
        color: var(--hero-heading-color);
        font-size: 4.5rem;
        position: relative;
        padding: 1rem 1rem;
        padding-left: 0;
        padding-bottom: 0;

        &::before {
          content: "Empowering lifelong learning";
          text-transform: uppercase;
          position: absolute;
          font-size: 1.2rem;
          color: var(--bnt-hover-bg-color);
          letter-spacing: 0.3rem;
          top: -0.7rem;
        }
      }
      & p {
        color: var(--supporting-color);
        font-size: 1.4rem;
        line-height: 2rem;
        padding-left: 0;
        padding-top: 0;
        letter-spacing: 0.12rem;
      }
    }

    & .hero-image {
      padding: 0 1rem;

      & img {
        width: 30vw;
        transform: rotateY(180deg);
      }
    }
  }
}

/*? Section divider */
.custom-shape-divider-bottom-1716724355 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716724355 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1716724355 .shape-fill {
  fill: #ffffff;
}
/***** End Hero Section *****/

/***** About Section *****/

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  & .about-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    & p {
      text-align: start;
      padding-left: 0;
      font-weight: 700;
      font-size: 1.4rem;
      padding-top: 0.2rem;
      padding-left: 0rem;
      text-transform: capitalize;
    }
    & h2 {
      font-size: 2.6rem;
      line-height: 2;
      padding: 0.2rem 2rem;
      padding-left: 0;
    }
  }

  & .about-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2.5rem;
    padding: 1rem 2rem;

    & .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      padding: 2rem 2rem;
      /* --tw-bg-opacity: 1;
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      border-width: .2px;
      border-radius: 1.3rem;
      border-style: solid;
      border-color: #e5e7eb; */

      & h3 {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        padding-bottom: 0;
        text-transform: capitalize;
      }
      & p {
        text-align: center;
        letter-spacing: 0.06rem;
      }
      & img {
        width: 7.6vw;
        padding: 2rem;
        border-radius: 50%;
        background-color: var(--supporting-color);

        &:hover {
          animation: rotate 1s linear 0s 2 alternate;
          cursor: pointer;
          background-image: radial-gradient(
            circle at center,
            var(--supporting-color),
            var(--main-color),
            var(--hero-heading-color)
          );
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/***** End About Section *****/

/***** Courses Section *****/

.course-section {
  /* width: 22vw; */
  overflow: hidden;
  margin-top: 2rem;
  & .courses-heading {
    & h2 {
      text-transform: capitalize;
    }

    & p {
    }
  }

  & .courses-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* width: max-content;
    display: flex;
      /* flex-wrap: nowrap; */
    /* animation: shift linear 10s infinite alternate; */
    /* animation-timeline: scroll(root); */
    /* box-shadow: 0 0 8px 8px white inset;
    border-width: 0.2px;
    border-radius: 1.3rem;
    border-style: solid;
    border-color: #e5e7eb; */

    gap: 2.3rem;
    padding: 1rem 2rem;
    & .courses {
      padding: 2rem;
      display: flex;
      /* width: 20vw; */
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      --tw-bg-opacity: 1;
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      border-width: 0.2px;
      border-radius: 1.3rem;
      border-style: solid;
      border-color: #e5e7eb;

      &:hover {
        /* box-shadow: 7px 6px 93px -42px rgba(0,0,0,0.64);
        border-radius: 1.3rem; */
      }

      & img {
        width: 7vw;
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--supporting-color);
      }
      & h3 {
        text-align: center;
        padding: 0.2rem 1rem;
      }
      & p {
        text-align: center;
        padding: 1rem;
      }
    }
  }
}

@keyframes shift {
  from {
    transform: translate(00%);
  }
  to {
    transform: translate(-47%);
  }
}
/***** End Courses Section *****/

/***** Why Choose Section *****/
.choose {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 2rem;

  & .feature-container {
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    /* align-items: flex-end; */
    text-align: right;

    & h2 {
      color: var(--main-heading--color);
      display: inline-block;
      font-size: 2.6rem;
      line-height: 2;
      text-align: center;
      padding: 0.2rem 2rem;
      background-color: var(--supporting-color);
      border-radius: 50%;
      margin: 1rem 0;

      /* &::after{
      content: "";
     width: 6rem;
     aspect-ratio: 1;
    background-color: var(--supporting-color);
    border-radius: 50%;
    } */
    }

    & h3 {
      padding-right: 1rem;
      font-size: 1.4rem;
    }
    & p {
      padding-right: 1rem;
    }
  }
  & .choose-heading {
    & h2 {
      text-transform: capitalize;
    }
  }
  & .choose-main--container {
    padding: 1rem 2rem;
    display: flex;
    gap: 5rem;

    & .cont-1 {
    }
    & .cont-2 {
      position: relative;
      & img {
        padding: 1rem 3rem;
        width: 22vw;
      }
      &::before {
        content: "";
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        position: absolute;
        width: 24vw;
        height: 24vw;
        z-index: -1;
        background-image: radial-gradient(
          circle,
          rgba(235, 243, 254, 1),
          rgba(0, 98, 255, 1)
        );
        border-radius: 50%;
        border: 2rem solid var(--supporting-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        /* animation: color-change 3s linear infinite alternate; */
      }
    }
    & .cont-3 {
      text-align: left;
      & h3,
      & p {
        padding-left: 1rem;
      }
    }
  }
}

@keyframes color-change {
  0% {
    background-color: var(--supporting-color);
  }
  60% {
    background-color: var(--main-color);
  }
  100% {
    background-color: var(--bnt-hover-bg-color);
  }
}

/***** End Why Choose Section *****/

/*****  Join Section *****/
.join {
  width: 60vw;
  z-index: 25;
  position: relative;
  margin: 0 auto;
  margin-bottom: -12rem;
  margin-top: 5rem;
  background-color: var(--bg-color);
  /* background-color: rebeccapurple; */

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-width: 0.2px;
  border-radius: 1.3rem;
  border-style: solid;
  border-color: #e5e7eb;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  & .join-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: .2rem; */
    padding: 1rem 2rem;
    & h2 {
      font-size: 3rem;
      padding: 1rem;
      padding-right: 2rem;
      padding-bottom: 0;
    }
    & p {
      padding: 1rem;
    }
    #standout {
      font-weight: 800;
      font-size: 1.7rem;
    }
    & a {
      margin-left: 1rem;
      margin-top: 1rem;
      text-align: center;
      text-decoration: none;
      color: var(--bg-color);
      padding: 1.2rem 2.1rem;
      border-radius: 0.6rem;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      background-color: #0c5cdd;

      &:hover {
        background-color: var(--bnt-hover-bg-color);
      }
    }

    & #arrow {
      padding: 0.4rem 0.5rem;
      aspect-ratio: 1;
      font-weight: 900;
      font-size: 1.5rem;
      background-color: var(--bg-color);
      border-radius: 50%;
      color: var(--main-color);
    }
  }
  & .join-img {
    & img {
      width: 22vw;
      padding: 2rem;
    }
  }
}
/***** End  Join Section *****/

/***** Footer Section *****/
footer {
  width: 98.7vw;
  padding-top: 11rem;
  height: 50vh;
  background-color: #252528;
  color: #fff;
  & .footer {
    width: 80vw;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;

    & .footer-heading {
      & h3 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        padding: 1rem;
      }
      & p {
        color: white;
        padding: 1rem;
      }
      & .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.11rem;

        & a {
          text-decoration: none;
          padding: 0.5rem 1rem;
        }
        & i {
          font-size: 2.4rem;

          color: var(--main-color);
          padding: 0.6rem;
          background-color: var(--bg-color);
          border-radius: 50%;
          color: var(--main-color);
        }
        & img {
        }
      }
    }
    & .footer-links {
      text-align: center;
      & h3 {
        font-size: 1.8rem;
        padding: 1rem;
        text-transform: capitalize;
      }
      & p {
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & li {
          list-style: none;

          & a {
            text-decoration: none;
            font-size: 1.3rem;
            padding: 1rem;
            text-transform: capitalize;
            font-weight: 600;
            color: white;
            letter-spacing: 1px;

            &:hover {
              color: #ccc;
              transition: 0.1s linear;
            }
          }
        }
      }
    }
  }
}
/***** End Footer Section *****/

/***** Contact us Section *****/
.contact * {
  /* border: 2px solid red; */
}
.contact {

  width: 66vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  & .contact-heading {
    padding-left: 1.7rem;

    & h2 {
      font-size: 2.7rem;
      line-height: 2;
      padding:  0 1rem;
      font-weight: 600;
    }
    & p {
      font-weight: 600;
      font-size: 1.5rem;
      padding: 1rem;
    }
  }

  & .form-container {
  letter-spacing: .07rem;

    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    & .form {
      padding: 1rem;
      & form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: flex-start;
        & .personal-info {
          display: flex;
          gap: 1rem;
          align-items: center;

          & .name,
          & .email {
            display: flex;
            flex-direction: column;
          align-items: flex-start;
            gap: .3rem;
            padding: 1rem;
          }
        }
        & .subject,
        & .msg {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          gap: .3rem;
          align-items: flex-start;

          & input,& textarea{
            width: 26vw;
          }
        }
        & label {
          font-size: 1.5rem;
          padding: .6rem 0;
          font-weight: 500;
          font-family: "Urbanist", sans-serif;
        }
        & input , & textarea{
          padding: 0.9rem 1rem;
          border-radius: .3rem;
          border: .4px solid #ccc;
        }

        & input::placeholder ,& textarea::placeholder{
          font-family: "Urbanist", sans-serif;
          font-size: 1.5rem;
          letter-spacing: .1rem;
      
        }

        input[type="submit"]{
          font-family: "Poppins", sans-serif;
          border: none;
          border-radius: .4rem;
          margin-left: 1rem;
          margin-top: 1rem;
        }
      }
      
    }

    & .map {
      padding: 1rem;
    }
  }

  
}

/***** End Contact us Section *****/

/*!  Reusable code */
p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--para-color);
  padding: 1rem 2rem;
  letter-spacing: 0.08rem;
}
.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1.7rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border-radius: 0.4rem;
  width: 10vw;
  padding: 1rem 2rem;
  color: var(--supporting-color);
  background-color: var(--main-color);
}

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}
